[plat-control="navbar-vc"] {

/// ====== Variables =======
/// Colors

/// Sizes

@font: 21pt;
@nav-height: 5em;
@logo-height:3em;


/// ====== Base Element Styling =======



/// ====== Basic Navbar Layout =======
.navbar {
	height:@nav-height;
	width: 100%;
	display:flex;
	align-items: center;
	padding-left: 1.7%;
	padding-right: 4.4%;
	box-sizing: inherit;
	postion: absolute;
	top:0;
	left: 0;
	right:0;
	z-index: 100;

}
.logo{
		height:@logo-height;
	}
.nav-list{
		display: inline-block;
		position: relative;
		height: @nav-height;
	}
@media (max-width:1000px){
		div.navcontainer{
			justify-content: space-between;

			img.logo {
				display:inline-block;
				height:@logo-height;
				display: inline-block;

			}
		}
	}
}
