[plat-control="navbar"] {

/// ====== Variables =======
/// Colors

/// Sizes

@font: 21pt;
@nav-height: 5em;
@logo-height:6.5em;


/// ====== Base Element Styling =======



/// ====== Basic Navbar Layout =======
.navbar {
	height:@nav-height;
	width: 100%;
	display:flex;
	align-items: center;
	padding-left: 1.7%;
	padding-right: 4.4%;
	box-sizing: inherit;
	postion: absolute;
	top:0;
	left: 0;
	right:0;
	z-index: 100;

}
.logo{
		height:@logo-height;
		margin-left: 1.5em;
	}
.nav-list{
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: right;

		.flexitem{
			display: inline-block;
			margin-left:	1.5em;
			text-align: center;

		}

	}
@media (max-width:1000px){
		div.navcontainer{
			justify-content: space-between;

			img.logo {
				height:@logo-height;
				display: inline-block;

			}
		}
	}
}
