[plat-control="contact-vc"] {
	
.empty-top {
	padding-top: 10em;
}
.input {
	margin: auto;
}	
.image-row {
	background: url('/images/garden.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}	
.flexbox {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.login-info {
	background-color: white;
	padding: 2em 0 2em 2em;
	margin: auto;
	box-sizing: border-box;
}
.sub-button {
	color:white;
	height:2.5em;
	width: 5.3125em;
	padding: 0.625em;
	margin: auto;
}
}
