[plat-control="contact-vc"] {

@dark-grey: #7e7e7e;
	
.empty-top {
	padding-top: 15em;
}
.input {
	margin: auto;
	width: 40%;
	color: @dark-grey;
    margin-top: 1em;
}	
.contact-background {
  background: url('/images/garden.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}	
.flexbox {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.login-info {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 2em 0 2em 2em;
	margin: auto;
	box-sizing: border-box;
}
    .gs-button {
        margin: auto;
        width: 40%;
        border-width: 0;
        text-transform: uppercase;

        &.button-primary {
            background-color: @dark-grey;

            &:active {
                background-color: darken(@dark-grey, 5%);
            }
        }
    }
 textarea{
	height: 10em;
	padding: 1em;
 }
}

