[plat-control="calendar-vc"] {
	
@dark-grey: #7e7e7e;
@light-grey: #e2e2e5;	

.page-wrapper {
    border-color: lightgray;
    border-style: solid;
    border-width: 10px 30px 0;
}
.empty-top {
	padding-top: 8em;
}	
.flexBox {
	#platui > #mixins > .flexbox();
	#platui > #mixins > .flex-direction(row);
	#platui > #mixins > .justify-content(space-around);
	#platui > #mixins > .flex-wrap(wrap);
}	
.month-container {
	margin: auto;
}
.week {
	height: 10em;
	width: 10em;
	background-color: @dark-grey;
	outline: .15em solid black;
	list-style: none;
	margin: 0px 15px 30px 15px;
}
.week:hover {
	background: url('/images/plusSign.png') no-repeat center center;
	outline: .35em solid black;
	h2 {
		color: black;
	}
}
h1 {
	margin: auto;
	text-align: center;
	padding-bottom: 1em;
}
h2 {
	color: white;
	padding: 0px 0px 80px 10px;
}
.customer-info {
	background-color: white;
	// min-height: 100%;
  	// min-width: 100%;
  	// width: 100%;
  	// height: auto;
  	// position: fixed;
  	// top: 0;
  	// left: 0;
	margin: auto;
	height: 20em;
	width: 30em;
	padding-top: 5em;
	text-align: left;
	list-style: none;
}
}
