[plat-control="services-vc"] {
	.services{
		text-align: justify;
		padding-left: 3em;
		box-sizing: border-box;
	}
	.services-images{
		height: 104px;
		width: 110px;
		margin-bottom: 3rem;
		display: inline-block;
		vertical-align: middle;
		border: 0;
	}
}
