[plat-control="services-vc"] {
	.services-background{
		background-color: lightgray;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.container{
		margin-right: 6em;
		margin-left: 6em;
		margin-top: 2em;
		p{
			padding-left: 2em;
		}
	}
	.services{
		text-align: center;
	}
	.services-images{
		height: 104px;
		width: 110px;
		display: inline-block;
		vertical-align: middle;
		border: 0;
	}
}
