[plat-control="home-vc"] {
    
// #platui {
//     #Carousel {
//         #dependencies {
//             @padding: 5px;
//         }

//         #platui > #variables;
//         #platui > #Carousel > #dependencies;

//     /// =========== Carousel Colors =========== ///

//         @background-color: @transparent;
//         @arrow-color: fadeout(@white, 50%);
//         @arrow-active-color: @white;

//     /// ============ Carousel Size ============ ///

//         @padding-left: @padding;
//         @padding-right: @padding;
//         @padding-top: @padding;
//         @padding-bottom: @padding;
//         @arrow-length: 100%;
//         @arrow-width: 1em;

//     /// ============ Carousel Transition ============ ///

//         @transition-time: 300ms;

//     /// ============ Carousel Misc ============ ///

//         @arrow-font-size: 400%;
//         @arrow-font-family: "platypus-icons";
//         @arrow-font-weight: bold;
//         @arrow-down: "\e815";
//         @arrow-left: "\e816";
//         @arrow-right: "\e817";
//         @arrow-up: "\e818";

//     /// =========== Variable Carousel Styles =========== ///

//         .plat-carousel(@prop: undefined; @value: undefined) {
//             // padding
//             // background-color
//             // arrow-color
//             // padding-left
//             // padding-right
//             // padding-top
//             // padding-bottom
//             // arrow-length
//             // arrow-width
//             // transition-time
//             // arrow-font-size
//             // arrow-font-family
//             // arrow-font-weight
//             // arrow-down
//             // arrow-left
//             // arrow-right
//             // arrow-up
//         }
        
.home-background {
	background: url('/images/garden.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
    }
  }
// }
// }