[plat-control="home-vc"] {
   
.carousel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
}
 }
